/* app css stylesheet */

body {
  padding-top: 20px;
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}

/*Migration Ruby-Projekt*/
.mr10 {
  margin-right:10px;
}
td.buttons .btn {
  margin-right: 5px;
}
.full-width {
  width: 100%;
  height: auto;
}
.modal-body {
  text-align: center;
}
.logo{
  text-align: center;
}
