<div class="container-fluid" ng-controller="ApiDocuCtrl">
  <div class="row">
    <h2>Schnittstellendokumentation des Webservices</h2>
    <div class="col-md-2">
      <!--Suchfeld um in der APi zu suchen-->
      Search: <input ng-model="query">
    </div>
    <div class="col-md-10">
      <!--Tabellenaufbau: eine Tabellenzeile enhält eine Beschreibung für eine API-Methode-->
      <table class="table">
        <tr>
          <th>
            URL-Name
          </th>
          <th>
            Aktion
          </th>
          <th>
            Beschreibung
          </th>
        </tr>
        <tr ng-repeat="apidocu in apidocus | filter:query">
        <td>
          {{apidocu.name}}
        </td>
        <td>
          {{apidocu.action}}
        </td>
        <td>
          {{apidocu.description}}
        </td>
        </tr>

      </table>

    </div>
  </div>
</div>
