<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table">
      <tr>
        <th>
          Key
        </th>
        <th>
          Current Value
        </th>
        <th>
          Set
        </th>
        <tr ng-repeat="(key,value) in configs">
          <td>{{key}}</td>
          <td>{{value}}</td>
          <td>
            <label>
              neuer Wert:
            <input ng-model="new_value" name="neuer_Wert">
          </label>
            <a href="http://raspberrydh.ddns.net/config/update?key={{key}}&value={{new_value}}" class="btn btn-default">Wert setzen</a>
          </td>
        </tr>
      </tr>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>
